body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #1f2937;
    padding: 24px 350px 150px 350px;

}

.header-nav {
    display: flex;
    justify-content:space-between;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    
}

.header-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.header-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 550px;
    gap: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex-shrink: 0;
}

.header-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;  
}

.placeholder-image {
    height: 300px;
    width: 600px;
    background-color: #4c4e52;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;    
}

.sign-up{
    color: #F9FAF8;
    padding: 13px 45px;
    border-radius: 8px;
    background-color:#3882F6;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 470px;
}

.random-content{
    display: flex;
    gap: 60px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-card {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}


.cards span {
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    padding: 100px 470px;
}

.quote-credits {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-self: self-end;
}




