body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-nav {
    display: flex;
    justify-content:space-between;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-content {
    display: flex;
    gap: 24px;
}

.header-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

