body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #1f2937;
    padding: 24px 350px 150px 350px;

}

.header-nav {
    display: flex;
    justify-content:space-between;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    
}

.header-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.header-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 550px;
    gap: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex-shrink: 0;
}

.header-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder-image {
    height: 300px;
    width: 600px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sign-up{
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 5px;
    background-color:#3882F6;
    border: none;
    font-weight: 600;
}

